/* Estilos generales para la aplicación */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #272727; /* Fondo oscuro */
  color: #E0E0E0; /* Texto claro */
  transition: background-color 0.3s, color 0.3s; /* Transiciones suaves */
}

button {
  background-color: #FF7043; /* Color del botón en modo oscuro */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

button:hover {
  background-color: #d43200; /* Efecto hover */
}

/* El mapa y el sidebar deben adaptarse al tema oscuro */
.map-container {
  background-color: #2C2C2C; /* Fondo oscuro para el mapa */
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

/* Agregar transiciones suaves */
* {
  transition: all 0.3s ease;
}

/* Sidebar */
.sidebar {
  background-color: #1F1F1F; /* Fondo oscuro */
  color: #E0E0E0; /* Texto claro */
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Sombra sutil */
  font-family: 'Roboto', sans-serif; /* Fuente moderna */
  transition: all 0.3s ease; /* Transiciones suaves */
}

/* Títulos */
.sidebar h4 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #E0E0E0; /* Color vibrante para los títulos */
  margin-bottom: 0.5rem;
}

.sidebar h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #FF7043;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

/* Título de la sección de festivos */
.sidebar h3 {
  font-size: 1.5rem;
  color: #E0E0E0;
  margin-bottom: 1rem;
}

/* Lista de festivos */
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding: 12px;
  background-color: #2C2C2C; /* Fondo para cada ítem */
  margin-bottom: 10px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.sidebar li:hover {
  background-color: #3E3E3E; /* Efecto hover */
}

/* Estilo de los botones */
button {
  background-color: #FF7043; /* Naranja elegante para los botones */
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin: 10px;
}

/* Estado cuando el ratón pasa sobre el botón */
button:hover {
  background-color: #FF5722; /* Naranja más oscuro al pasar el mouse */
}

/* Estado cuando el botón está en foco (seleccionado con el teclado o clic) */
button:focus {
  outline: none; /* Elimina el contorno predeterminado del navegador */
  background-color: #FF7043; /* Mantén el mismo naranja cuando esté enfocado */
}

/* Botón deshabilitado */
button:disabled {
  background-color: #666; /* Botón deshabilitado */
  cursor: not-allowed;
}


/* Paginación */
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.pagination span {
  color: #E0E0E0; /* Texto claro */
  font-size: 1rem;
}

.pagination button {
  background-color: #FF7043;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.pagination button:hover {
  background-color: #F44336;
}

.pagination button:disabled {
  background-color: #777;
  cursor: not-allowed;
}

/* Estilo para los botones */
.search-button {
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #FF7043; /* Naranja elegante */
  color: #FFFFFF;
  transition: background-color 0.3s;
}

/* Cuando el ratón pasa sobre el botón */
.search-button:hover {
  background-color: #FF5722; /* Naranja más oscuro */
}

/* Cuando el botón está en foco */
.search-button:focus {
  outline: none; /* Eliminar el contorno de foco predeterminado */
  background-color: #FF5722; /* Mantener el color naranja */
}

/* Botón deshabilitado */
.search-button:disabled {
  background-color: #666; /* Color de fondo para botones deshabilitados */
  cursor: not-allowed;
}



/* Botón deshabilitado */
.poi-button:disabled {
  background-color: #666; /* Color de fondo para botones deshabilitados */
  cursor: not-allowed;
}

